@model List<Event>

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumb-hero">
        <div class="container">
            <div class="breadcrumb-hero">
                <h2>Моите събития</h2>
                <p>
                    Не забравяй събитията, които са предизвикали интерес у теб. Тук ще намериш всички събития, към които си проявил интерес.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <ol>
            <li><a asp-area="User" asp-controller="Home" asp-action="Index">Начало</a></li>
            <li>Моите събития</li>
        </ol>
    </div>
</section><!-- End Breadcrumbs -->

<div class="container">
    <div class="row portfolio-container">
        @foreach (var eventObj in Model)
        {
            var daysLeft = (eventObj.DateAndTime - DateTime.Now).Days;

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="card border-0 p-3 shadow  border-top rounded position-relative">
                    <span class="position-absolute border rounded p-1 green-bg" style="background-color: #94c045; color: white;">Остават @daysLeft дни</span>
                    <img src="@eventObj.ImageUrl" class="card-img-top rounded" />
                    <div class="card-body pb-0">
                        <div class="pl-1">
                            <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@eventObj.Name</p>
                            <p class="card-title text-green text-center"><b>@eventObj.DateAndTime.ToString()</b></p>
                        </div>
                        <div class="pl-1">
                            <p class="text-dark text-opacity-75 text-center">
                                Място:
                                <span>
                                    @eventObj.Place
                                </span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Details" asp-route-id="@eventObj.Id" style="background-color: #94c045;" class="btn btn-primary green-bg border-0 form-control">
                            Детайли
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>